# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/build_*

# misc
.DS_Store
.env
.bashrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**.DS_Store

.idea

**.ipynb_checkpoints
package-lock.json
yarn.lock
